@model List<Category>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" action="/dashboard/category/add" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label>Name</label>
                    <input type="text" name="name" />
                </div>
                <div>
                    <label>Parent: </label>
                    <select name="parentId">
                        <option value="1">Thể Loại</option>
                        <option value="2">Quốc Gia</option>
                        <option value="3">Video</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <th>Parent</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr val="@item.Id">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <th>@item.ParentId</th>
                <td>
                    <a href="/dashboard/category/delete/@item.Id"><i class="fa-sharp fa fa-trash"></i></a>
                </td>
                <td>
                    <a href="/dashboard/category/edit/@item.Id"><i class="fa-sharp fa fa-wrench"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>